@model IEnumerable<TurfBookingSystem.Models.Turf>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
@using (Html.BeginForm("Index","Home",FormMethod.Get))
    {
        <b>Search By:</b> @Html.RadioButton("searchBy","Location",true)<text>Location</text>
        @Html.TextBox("Search") <input type="submit" value="Search"/>
    }
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TurfId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TurfId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TurfId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TurfId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TurfId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
